//
// Variables
// --------------------------------------------------

// Import default Bootstrap variables. Override and custom variables below.
@import "../../../bower_components/bootstrap/less/variables";

// Global values [Overrides]
// --------------------------------------------------

// Colors
//
// Always try to stick to the [Primary Colors](#style-color-primary). Only use [Secondary Colors](#style-color-secondary)
// for slight accents or highlights. [Secondary Colors](#1.2) should only be dominant
// when used in a child/sub theme.
//
// Icon: fa-eyedropper
//
// MenuBlurb:
// Color scheme for the website and how to use them
//
// Styleguide style.color

// Primary Colors
//
// Try to use these colors for everything. Only use these colors where deemed appropriate
// via this styleguide.
//
// Markup: primary.html
//
// HideMarkup: true
//
// Styleguide style.color.primary

// Grays
// -------------------------

@gray-lighter:           lighten(#000, 97.5%); // #f9f9f9

// Brand colors
// -------------------------

@brand-primary:         #993333;

// Links
// -------------------------

@link-color:            #428bca;

// Typography
//
// Use and availability of fonts
//
// Icon: fa-font
//
// MenuBlurb:
// Fonts used for body, heading, and other text elements
//
// Styleguide style.typography

// Body Text
//
// weight: 1
//
// The default font family for text in the `<body>` is *Lato*
//
// Markup: body-font.html
//
// HideMarkup: true
//
// Styleguide style.typography.body

@font-family-sans-serif:  'Lato', sans-serif;
@font-family-serif:       'EB Garamond', "Times New Roman", Times, serif;
@font-family-monospace:   'Ubuntu Mono', Menlo, Monaco, Consolas, "Courier New", monospace;

// Headings
//
// weight: 2
//
// Heading use the *Oxygen* font family and are used for all page titles and page section titles.
//
// Markup: headings.html
//
// HideMarkup: true
//
// Styleguide style.typography.headings
@headings-font-family:    'Oxygen', sans-serif;
@headings-font-weight:    400;

// Components
// -------------------------

@border-radius-large:            4px;

//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #777;
@navbar-default-bg:                @gray-lighter;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                @brand-primary;
@navbar-default-link-hover-color:          @gray-lighter;
@navbar-default-link-hover-bg:             @navbar-default-link-color;
@navbar-default-link-active-color:         @navbar-default-link-hover-color;
@navbar-default-link-active-bg:            @navbar-default-link-hover-bg;
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;


// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-lighter;
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @navbar-inverse-color;
@navbar-inverse-link-hover-color:           @navbar-inverse-bg;
@navbar-inverse-link-hover-bg:              @navbar-inverse-link-color;
@navbar-inverse-link-active-color:          @navbar-inverse-bg;
@navbar-inverse-link-active-bg:             @navbar-inverse-color;
@navbar-inverse-link-disabled-color:        #e5d8d8;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            lighten(@navbar-inverse-bg, 10%);
@navbar-inverse-toggle-icon-bar-bg:         @gray-lighter;
@navbar-inverse-toggle-border-color:        transparent;

// Jumbotron
// -------------------------

@jumbotron-bg:                   #eee;

// Global values [Custom]
// --------------------------------------------------

@content-container-class: wrap;

// Meganav navbar variables
@navbar-meganav-height: 80px;
@navbar-meganav-height-sm: 50px;

// File and External Links (iconography and decorations)
// -------------------------

@icon-ext-link: "\f08e";
@icon-pdf: "\f1c1";
@icon-word: "\f1c2";
@icon-excel: "\f1c3";
@icon-powerpoint: "\f1c4";