<div ng-controller="NewsTodayCtrl">
    <div class="home-slice">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="front-page-card hours-list"></div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="front-page-card">
                    <h2>News</h2>
                    <div class="animate-repeat" news-card="item" ng-repeat="item in news">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-slice" ng-if="events">
        <div class="row">
            <div class="col-md-12">
                <div class="front-page-card">
                    <h2>Events</h2>
                    <div class="row">
                        <div class="animate-repeat" ng-repeat="item in events" ng-class="{'col-md-12': events.length == 1, 'col-md-6': events.length == 2,'col-md-4': events.length == 3, 'col-md-3': events.length == 4}">
                            <div news-card="item" news-type="event">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
