@home-card-gutter: floor((@grid-gutter-width / 2));

html, body {
  min-height: 100%;
}

div[role="document"] {
  min-height: 600px;
}

.front-page, .bento{

  > .wrap {
    main {
      position:relative;
      margin-top: 111px;

      @media (max-width: @grid-float-breakpoint) {
        margin-top: 0px;
      }
    }
  }
}

.front-page {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;

  .home-slice{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/*
// TODO: put in proper method to only show background image on home page with web apps.
.bento, .staffdir, .software, .databases {
  background-image: none;
  background-color: @body-bg;

}*/
div[ng-view].ng-enter {
  -webkit-animation: Fade-Enter-Anime 0.2s;
  -moz-animation: Fade-Enter-Anime 0.2s;
  animation: Fade-Enter-Anime 0.2s;
}
.Content-Fade-Leave {
  -webkit-animation: Fade-Leave-Anime 0.2s;
  -moz-animation: Fade-Leave-Anime 0.2s;
  animation: Fade-Leave-Anime 0.2s;
}

@keyframes Fade-Enter-Anime {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes Fade-Leave-Anime {
  from { opacity: 1; }
  to { opacity: 0; }
}


@-webkit-keyframes Fade-Enter-Anime {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes Fade-Leave-Anime {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-moz-keyframes Fade-Enter-Anime {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes Fade-Leave-Anime {
  from { opacity: 1; }
  to { opacity: 0; }
}