.content {background-color: #FFFFFF;}

.style1 {
	font-size: large;
	font-weight: bold;
	background-color: #FFFFFF;
}
.textrightborder {
	margin-right: 30px;
}
.textrightborder15 {
	margin-right: 15px;
}
.nastyle {
	margin-left: 30px;
	margin-right: 30px;
}
.style2 {color: #990000}
#titlebar {
	color: #FFFFFF;
	background-color: #666666;
	text-align: center;
	height: 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	padding-top: 10px;
	min-width: 500px;
}
#instructions {
	padding-top: 7px;
	display: none;
	background-color: #FFFFFF;
}
#instructions ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
#instructions li {
	margin-top: 0px;
	margin-bottom: 0px;
}
#instructions p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#instructionsprompt {
	background-color: #FFFFFF;
	font-size: medium;
	text-align: center;
}
#datediv {
	background-color: #EBEBEB;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	min-width: 820px;
	margin-top: 15px;
}
#naturediv {
	margin-top: 20px;
	background-color: #EBEBEB;
	min-width: 820px;
	padding-left: 4px;
	display: block;
	height: 150px;
}
#checkdiv1 {
	width: 300px;
	min-width: 300px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EBEBEB;
}
#checkdiv2 {
	width: 400px;
	min-width: 400px;
	float: left;
}
#descriptiondiv {
	background-color: #EBEBEB;
	min-width: 820px;
	margin-top: 20px;
	padding-left: 4px;
	display: block;
	padding-top: 3px;
}
#descriptiondiv2 {
	background-color: #EBEBEB;
	padding-left: 4px;
	padding-top: 4px;
	min-width: 820px;
	display: block;
	height: 150px;
}
#descriptionleft {
	background-color: #EBEBEB;
	width: 175px;
	float: left;
	min-width: 175px;
	text-align: right;
	position: relative;
	left: 0px;
}
#descriptioncenter {
	background-color: #EBEBEB;
	width: 250px;
	min-width: 250px;
	float: left;
	text-align: right;
}
#descriptionright {
	background-color: #EBEBEB;
	width: 275px;
	min-width: 275px;
	text-align: left;
	float: left;
	padding-left: 40px;
}
#longdescriptiondiv {
	margin-top: 20px;
	background-color: #EBEBEB;
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 6px;
}
#previncidentsdiv {
	margin-top: 20px;
	background-color: #EBEBEB;
	padding-left: 4px;
}
#previncidentdescriptiondiv {
	background-color: #EBEBEB;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 4px;
	display: none;
}
#persondiv {
	background-color: #EBEBEB;
	margin-top: 20px;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 4px;
	min-width: 820px;
}
/* #otherexplaindiv {
	background-color: #EBEBEB;
	display: inline;
} */
#respondingdiv {
	background-color: #EBEBEB;
	margin-top: 20px;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 4px;
}
#witnessesdiv {
	background-color: #EBEBEB;
	margin-top: 20px;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 4px;
}
#witnessdiv1 {
	background-color: #EBEBEB;
	padding-bottom: 4px;
	min-width: 820px;
	padding-left: 4px;
}
#witnessdiv2 {
	background-color: #EBEBEB;
	padding-bottom: 4px;
	min-width: 820px;
	display: none;
	padding-left: 4px;
}
#witnessdiv3 {
	background-color: #EBEBEB;
	padding-bottom: 4px;
	min-width: 820px;
	display: none;
	padding-left: 4px;
}
#bottomdiv {
	margin-top: 20px;
	padding-bottom: 4px;
	padding-left: 4px;
}
