.content-info { }

footer {

  .social-icons.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  & a > .social-icons {
    padding: 15px;
    color: @gray;

  }

  & a:hover .social-icons  {
      color: @link-color;

  }

}