.page-slice{
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.slice{
  text-align: center;

  &.page-slice-striped:nth-child(odd){
    background-color: #f0f0f0;
  }

  > h2{
    margin-bottom: 60px;
  }

  > .nav-pills{
    margin-bottom: 15px;
  }
}