.ualib-image-carousel {

  position: relative;

  ul, .slide-image {
    width: auto;
    height: 316px;

    @media (min-width: @screen-md-min) {
      height: 194px;
    }
    @media (min-width: @screen-lg-min) {
      height: 240px;
    }
  }

  .layer {
    color: @gray-lighter;
    margin: 0 auto;

    &:hover,
    &:active,
    &:visited {
      color: @gray-lighter;
    }
  }

  .slide-image{
    background-size: contain;
    background-repeat: no-repeat;
  }

  .slide-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(0,0,0,.5);
  }

  .rn-carousel-control {
    opacity: 1;
    border-width: 0px;
    background-color: #428bca;
    padding: 2em;
    border-radius: 0px;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    font-size: .3em;
    position: absolute;
    top: 90%;
    bottom: 0;
    cursor: pointer;

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max){
      top: 88%;
    }
    @media (max-width: @screen-sm-max){
      top: 92%;
    }


    &:focus {
      border-width: 3px;
    }
  }

  .rn-carousel-controls {
    @media (max-width: @screen-sm-max) {
      display: block;
    }
  }

  .rn-carousel-control-prev {
    left: 0;
  }

  .rn-carousel-control-next {
    right: 0;
  }






  .pause-play {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }

  .rn-carousel-indicator {
    font-size: 20px;
  }

  .card-body {
    padding-bottom: 0px;
  }

  ul {
    margin-bottom: 0px;
  }
}